#button22{
   /* display et dimensions */
 display: inline-block;
 width: 200px;
 height: 50px;

 /* font style */
 font-family: Arial,sans-serif;
 font-size: medium; 
 color: white;
 text-decoration: none;
 /* background style */
 background: green;

}
#showTime{
  color: green;
}